@use "variables" as var;


.button-p {
    background-color: var.$preto;
    color: var.$branco;
    font-size: var.$fonte-p;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
 }

 