$preto-texto: #1f1f1f;
$preto: #1f1f1f;
$cinza: #dde1e5;
$branco:#fff;
$verde: #49da1f;
$cor-de-fundo: #fff;


$fonte: Geneva, Verdana, sans-serif;
$fonte-pp: 0.8rem;
$fonte-p: 1rem; 
$fonte-pm: 1.2rem; 
$fonte-m: 1.5rem;
$fonte-g: 2rem;
$fonte-gg: 3rem;
 


